In [1]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
import numpy as np
import requests
Data1 = pd.read_csv('/content/drive/MyDrive/Entrega N1 Data Science/Casas USA/housing.csv', index_col=0) 
Data1.head()

Mounted at /content/drive

,url,region,region_url,price,type,sqfeet,beds,baths,cats_allowed,dogs_allowed,...,wheelchair_access,electric_vehicle_charge,comes_furnished,laundry_options,parking_options,image_url,description,lat,long,state
id,,,,,,,,,,,,,,,,,,,,,
7049044568,https://reno.craigslist.org/apa/d/reno-beautif...,reno / tahoe,https://reno.craigslist.org,1148,apartment,1078,3,2.0,1,1,...,0,0,0,w/d in unit,carport,https://images.craigslist.org/01616_daghmBUvTC...,Ridgeview by Vintage is where you will find al...,39.5483,-119.796,ca
7049047186,https://reno.craigslist.org/apa/d/reno-reduced...,reno / tahoe,https://reno.craigslist.org,1200,condo,1001,2,2.0,0,0,...,0,0,0,w/d hookups,carport,https://images.craigslist.org/00V0V_5va0MkgO9q...,Conveniently located in the middle town of Ren...,39.5026,-119.789,ca
7043634882,https://reno.craigslist.org/apa/d/sparks-state...,reno / tahoe,https://reno.craigslist.org,1813,apartment,1683,2,2.0,1,1,...,0,0,0,w/d in unit,attached garage,https://images.craigslist.org/00t0t_erYqC6LgB8...,2BD | 2BA | 1683SQFTDiscover exceptional servi...,39.6269,-119.708,ca
7049045324,https://reno.craigslist.org/apa/d/reno-1x1-fir...,reno / tahoe,https://reno.craigslist.org,1095,apartment,708,1,1.0,1,1,...,0,0,0,w/d in unit,carport,https://images.craigslist.org/00303_3HSJz75zlI...,MOVE IN SPECIAL FREE WASHER/DRYER WITH 6 OR 12...,39.4477,-119.771,ca
7049043759,https://reno.craigslist.org/apa/d/reno-no-long...,reno / tahoe,https://reno.craigslist.org,289,apartment,250,0,1.0,1,1,...,1,0,1,laundry on site,NaN,https://images.craigslist.org/01616_fALAWFV8zQ...,"Move In Today: Reno Low-Cost, Clean & Furnishe...",39.5357,-119.805,ca

# Total de filas y columnas

In [2]:
Data1.shape

(384977, 21)

# Total de datos

In [3]:
Data1.size

8084517

Vemos si hay duplicados

In [4]:
Data1.duplicated()

id
7049044568    False
7049047186    False
7043634882    False
7049045324    False
7049043759    False
              ...
7049053337    False
7049052968    False
7049050454    False
7049050149    False
7049050010    False
Length: 384977, dtype: bool

Descartamos los duplicados

In [5]:
Data2 = Data1.drop_duplicates()
Data2.head()

,url,region,region_url,price,type,sqfeet,beds,baths,cats_allowed,dogs_allowed,...,wheelchair_access,electric_vehicle_charge,comes_furnished,laundry_options,parking_options,image_url,description,lat,long,state
id,,,,,,,,,,,,,,,,,,,,,
7049044568,https://reno.craigslist.org/apa/d/reno-beautif...,reno / tahoe,https://reno.craigslist.org,1148,apartment,1078,3,2.0,1,1,...,0,0,0,w/d in unit,carport,https://images.craigslist.org/01616_daghmBUvTC...,Ridgeview by Vintage is where you will find al...,39.5483,-119.796,ca
7049047186,https://reno.craigslist.org/apa/d/reno-reduced...,reno / tahoe,https://reno.craigslist.org,1200,condo,1001,2,2.0,0,0,...,0,0,0,w/d hookups,carport,https://images.craigslist.org/00V0V_5va0MkgO9q...,Conveniently located in the middle town of Ren...,39.5026,-119.789,ca
7043634882,https://reno.craigslist.org/apa/d/sparks-state...,reno / tahoe,https://reno.craigslist.org,1813,apartment,1683,2,2.0,1,1,...,0,0,0,w/d in unit,attached garage,https://images.craigslist.org/00t0t_erYqC6LgB8...,2BD | 2BA | 1683SQFTDiscover exceptional servi...,39.6269,-119.708,ca
7049045324,https://reno.craigslist.org/apa/d/reno-1x1-fir...,reno / tahoe,https://reno.craigslist.org,1095,apartment,708,1,1.0,1,1,...,0,0,0,w/d in unit,carport,https://images.craigslist.org/00303_3HSJz75zlI...,MOVE IN SPECIAL FREE WASHER/DRYER WITH 6 OR 12...,39.4477,-119.771,ca
7049043759,https://reno.craigslist.org/apa/d/reno-no-long...,reno / tahoe,https://reno.craigslist.org,289,apartment,250,0,1.0,1,1,...,1,0,1,laundry on site,NaN,https://images.craigslist.org/01616_fALAWFV8zQ...,"Move In Today: Reno Low-Cost, Clean & Furnishe...",39.5357,-119.805,ca

In [6]:
Data2.shape

(384977, 21)

In [7]:
Data2.size

8084517

Comparando lo obtenido aplicando el comando shape y el codigo aplicado para descartar duplicados vemos que no hay ninguna fila duplicada.

In [8]:
Data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 384977 entries, 7049044568 to 7049050010
Data columns (total 21 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   url                      384977 non-null  object
 1   region                   384977 non-null  object
 2   region_url               384977 non-null  object
 3   price                    384977 non-null  int64
 4   type                     384977 non-null  object
 5   sqfeet                   384977 non-null  int64
 6   beds                     384977 non-null  int64
 7   baths                    384977 non-null  float64
 8   cats_allowed             384977 non-null  int64
 9   dogs_allowed             384977 non-null  int64
 10  smoking_allowed          384977 non-null  int64
 11  wheelchair_access        384977 non-null  int64
 12  electric_vehicle_charge  384977 non-null  int64
 13  comes_furnished          384977 non-null  int64
 14  laundry_options          305951 non-null  object
 15  parking_options          244290 non-null  object
 16  image_url                384977 non-null  object
 17  description              384975 non-null  object
 18  lat                      383059 non-null  float64
 19  long                     383059 non-null  float64
 20  state                    384977 non-null  object
dtypes: float64(3), int64(9), object(9)
memory usage: 64.6+ MB

In [9]:
df = pd.DataFrame(Data2)
df=df.drop(["url","region_url","image_url","description"],axis=1)
df.head()

,region,price,type,sqfeet,beds,baths,cats_allowed,dogs_allowed,smoking_allowed,wheelchair_access,electric_vehicle_charge,comes_furnished,laundry_options,parking_options,lat,long,state
id,,,,,,,,,,,,,,,,,
7049044568,reno / tahoe,1148,apartment,1078,3,2.0,1,1,0,0,0,0,w/d in unit,carport,39.5483,-119.796,ca
7049047186,reno / tahoe,1200,condo,1001,2,2.0,0,0,0,0,0,0,w/d hookups,carport,39.5026,-119.789,ca
7043634882,reno / tahoe,1813,apartment,1683,2,2.0,1,1,1,0,0,0,w/d in unit,attached garage,39.6269,-119.708,ca
7049045324,reno / tahoe,1095,apartment,708,1,1.0,1,1,1,0,0,0,w/d in unit,carport,39.4477,-119.771,ca
7049043759,reno / tahoe,289,apartment,250,0,1.0,1,1,1,1,0,1,laundry on site,NaN,39.5357,-119.805,ca

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 384977 entries, 7049044568 to 7049050010
Data columns (total 17 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   region                   384977 non-null  object
 1   price                    384977 non-null  int64
 2   type                     384977 non-null  object
 3   sqfeet                   384977 non-null  int64
 4   beds                     384977 non-null  int64
 5   baths                    384977 non-null  float64
 6   cats_allowed             384977 non-null  int64
 7   dogs_allowed             384977 non-null  int64
 8   smoking_allowed          384977 non-null  int64
 9   wheelchair_access        384977 non-null  int64
 10  electric_vehicle_charge  384977 non-null  int64
 11  comes_furnished          384977 non-null  int64
 12  laundry_options          305951 non-null  object
 13  parking_options          244290 non-null  object
 14  lat                      383059 non-null  float64
 15  long                     383059 non-null  float64
 16  state                    384977 non-null  object
dtypes: float64(3), int64(9), object(5)
memory usage: 52.9+ MB

In [11]:
df.describe()

,price,sqfeet,beds,baths,cats_allowed,dogs_allowed,smoking_allowed,wheelchair_access,electric_vehicle_charge,comes_furnished,lat,long
count,3.849770e+05,3.849770e+05,384977.000000,384977.000000,384977.000000,384977.000000,384977.000000,384977.000000,384977.000000,384977.000000,383059.000000,383059.000000
mean,8.825722e+03,1.059900e+03,1.905345,1.480718,0.726890,0.707918,0.731771,0.082111,0.012871,0.048128,37.233487,-92.700631
std,4.462200e+06,1.915076e+04,3.494572,0.618061,0.445557,0.454721,0.443038,0.274535,0.112718,0.214036,5.546171,16.531980
min,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-43.533300,-163.894000
25%,8.050000e+02,7.500000e+02,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,33.454700,-100.775000
50%,1.036000e+03,9.490000e+02,2.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,37.647800,-87.745100
75%,1.395000e+03,1.150000e+03,2.000000,2.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,41.138300,-81.179600
max,2.768307e+09,8.388607e+06,1100.000000,75.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,102.036000,172.633000

In [12]:
df.baths.value_counts()

1.0     198184
2.0     134649
1.5      27363
2.5      13162
3.0       5549
0.0       3107
4.0       1495
3.5       1007
4.5        231
5.0        131
5.5         57
6.0         26
7.0          4
6.5          4
75.0         2
7.5          2
8.5          1
35.0         1
8.0          1
25.0         1
Name: baths, dtype: int64

Viendo el conteo de datos anterior podemos verificar la existencia de casas que poseen 1.5 baños, 2.5 baños, luego de investigar sobre el tema, existen los medio baños, pero para nuestro analisis los omitiremos para poder analizar casas que en sus baños contengan regaderas y asi las personas puedan cumplir con sus necesidades.

In [13]:
df["baths"]=df["baths"].astype("int")
df.baths.value_counts()

1     225547
2     147811
3       6556
0       3107
4       1726
5        188
6         30
7          6
8          2
75         2
35         1
25         1
Name: baths, dtype: int64

In [14]:
df.price.value_counts()

750       4207
850       3998
800       3993
1200      3828
950       3619
          ...
4115         1
409000       1
13900        1
3384         1
29500        1
Name: price, Length: 3961, dtype: int64

Seguimos analizando los precios

In [15]:
df['price'].max()

2768307249

Nos encontramos con un valor totalmente irracional para un alquiler por lo cual, para el posterior analisis nos generara problemas tanto para graficos como para el modelo a entrenar.

In [16]:
df.sqfeet.value_counts()

1000     10119
900       8522
1100      6989
800       6913
700       6688
         ...
2629         1
3032         1
11120        1
3811         1
3006         1
Name: sqfeet, Length: 3277, dtype: int64

In [17]:
df['sqfeet'].max()

8388607

Analizando los pies cuadrados nos encontramos con el mismo problema de ver que el valor maximo de una propiedad es de casi 8 millones y medio de pies cuadrados lo cual es un valor altisimo para una propiedad.

Viendo los valores maximos de pies cuadrados y precios podemos decir que hay valores atipicos. El criterio en el que me baso es ver el valor maximo de ambas columnas, el cual si vemos hasta el 75% de la muestra el precio llega hasta $1395 y luego el maximo se encuentra alojado en un numero con nueve ceros luego de la coma, lo cual no tiene logica a pagar por un alquiler a menos que la persona que lo busque sea millonario. Por el lado de los pies cuadrados podemos ver que el 75% de la muestra llega hasta 1150 pies, donde luego nuevamente el maximo se aloja en un numero con 6 ceros luego de la coma, provocando otra ves problemas para el analisis posterior. Por ende tomo los siguientes recaudos, atado a posteriores modificaciones de ser necesario, para poder empezar con los graficos.Tambien tenemos algunas preguntas como por ejemplo, quien alquilaria una casa con 75 baños, 35 baños o 25 baños. Suponiendo que la persona sea adinerada y se pudiera dar el lujo de alquilar alguna de las casas disponibles, el tener mas de 7 baños ya seria una casa totalmente excesiva para que viva cualquier familia. Por ende vamos a tener que modificar algunas cosas. Lo mismo sucede cuando hablamos de las camas, vemos que hay registros con mas de 1000 camas disponibles, una locura, a menos que se alquile un hotel entero.

In [18]:
limpieza1 = ((df["beds"]>7) | (df["baths"]>7) | (df["sqfeet"]<120) | (df["sqfeet"]>5000) | (df["price"]<100) | (df["price"]>4000))
df = df[~limpieza1]

Vemos si hay valores nulos

In [19]:
df.isna().sum()

region                          0
price                           0
type                            0
sqfeet                          0
beds                            0
baths                           0
cats_allowed                    0
dogs_allowed                    0
smoking_allowed                 0
wheelchair_access               0
electric_vehicle_charge         0
comes_furnished                 0
laundry_options             78110
parking_options            139016
lat                          1890
long                         1890
state                           0
dtype: int64

Reemplazo los valores nulos por 0

In [20]:
df1 = df.fillna(0)
df1.isna().sum()

region                     0
price                      0
type                       0
sqfeet                     0
beds                       0
baths                      0
cats_allowed               0
dogs_allowed               0
smoking_allowed            0
wheelchair_access          0
electric_vehicle_charge    0
comes_furnished            0
laundry_options            0
parking_options            0
lat                        0
long                       0
state                      0
dtype: int64

In [21]:
census_api_key = ''
variable = 'B01003_001E'
year = '2020'
url1 = 'https://api.census.gov/data/{0}/acs/acs5?get=NAME,{1}&for=us:*&key={2}'\
  .format(year, variable, census_api_key)
response = requests.request("GET", url1)
response.status_code

200

In [22]:
response

In [25]:
df_USA = pd.DataFrame(response.json()[1:], columns=response.json()[0]).rename(columns={'B01003_001E' :'Cantidad de habitantes'})
df_USA

            NAME Cantidad de habitantes us
0  United States              326569308  1

In [26]:
census_api_key = ''
variable = 'B01001_001E'
year = '2020'
# Data por estado
url2 = 'https://api.census.gov/data/{0}/acs/acs5?get=NAME,{1}&for=state:*&key={2}' .format(year, variable, census_api_key)
response = requests.request("GET", url2)
response.status_code

200

In [27]:
response

In [28]:
df_estados = pd.DataFrame(response.json()[1:], columns=response.json()[0]).rename(columns={'index': (0),'NAME': 'Estado','B01001_001E' :'Cantidad de habitantes', 'state' : 'Numero de Estado'})
df_estados

                  Estado Cantidad de habitantes Numero de Estado
0           Pennsylvania               12794885               42
1             California               39346023               06
2          West Virginia                1807426               54
3                   Utah                3151239               49
4               New York               19514849               36
5   District of Columbia                 701974               11
6                 Alaska                 736990               02
7                Florida               21216924               12
8         South Carolina                5091517               45
9           North Dakota                 760394               38
10                 Maine                1340825               23
11               Georgia               10516579               13
12               Alabama                4893186               01
13         New Hampshire                1355244               33
14                Oregon                4176346               41
15               Wyoming                 581348               56
16               Arizona                7174064               04
17             Louisiana                4664616               22
18               Indiana                6696893               18
19                 Idaho                1754367               16
20           Connecticut                3570549               09
21                Hawaii                1420074               15
22              Illinois               12716164               17
23         Massachusetts                6873003               25
24                 Texas               28635442               48
25               Montana                1061705               30
26              Nebraska                1923826               31
27                  Ohio               11675275               39
28              Colorado                5684926               08
29            New Jersey                8885418               34
30              Maryland                6037624               24
31              Virginia                8509358               51
32               Vermont                 624340               50
33        North Carolina               10386227               37
34              Arkansas                3011873               05
35            Washington                7512465               53
36                Kansas                2912619               20
37              Oklahoma                3949342               40
38             Wisconsin                5806975               55
39           Mississippi                2981835               28
40              Missouri                6124160               29
41              Michigan                9973907               26
42          Rhode Island                1057798               44
43             Minnesota                5600166               27
44                  Iowa                3150011               19
45            New Mexico                2097021               35
46                Nevada                3030281               32
47              Delaware                 967679               10
48           Puerto Rico                3255642               72
49              Kentucky                4461952               21
50          South Dakota                 879336               46
51             Tennessee                6772268               47

In [29]:
df_estados.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
dtype: bool